* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eeffa0;
}

nav {
    position: fixed;
    width: 100%;
}

button {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

button{
    border: 0;
    margin: 0;
    padding: 0;

    text-align: center;

    cursor:pointer;
}

main{
    text-align: center;
}

.header_outer {
    width: 100%;
    min-width: 783px;
    height: 60px;

    background-color: black;

    position: relative;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.header_nav{
    display: flex;
    
    width: 800px;
    height: 60px;

    margin: 0;
    padding: 0;
}

.navlist {
    position: absolute;

    bottom: 0;

    display: flex;
}

.kk { 
    display: flex;
}

.search_box{
    border: 0;

    margin-right: 10px;
    
    width: 240px;
    height: 40px;
}

.search_btn{
    border: 0;

    height: 40px;
    width: 40px;

    background-color: rgb(240, 211, 81);
    color: white;
}

.hotbaby {
    margin-right: 10px;
}

.menu_btn{
    color: white;
    background-color: black;

    height: 40px;
    width: 40px;
}

.root {
    padding-top: 200px;

    width: 1100px;

    background-color: #eeffa0;

    margin: 0 auto;

    height: 100%;
}

.triangle {
    width: 200px;
    height: 45px;

    border-bottom: 50px solid #eeffa0;
    border-right: 30px solid transparent;

    display: flex;
    justify-content: center;
    
}

.triangleb {
    width: 200px;
    height: 45px;

    border-bottom: 50px solid #666666;
    border-right: 30px solid transparent;

    color: white;

    display: flex;
    justify-content: center;
}

.btn_txt{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400000;

    height: 30px;
    width: 80px;

    border-bottom: solid 3px;

    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    
    background-color: black;
}

.st1{
    display: flex;
    justify-content: space-around;

    margin-top: 10px;
}

.major{
    font-size: 90px;
    font-weight: bolder;

    color: yellow;
}

.dice{
    color: blue;
}

.jyj{
    font-size: 90px;
    font-weight: bolder;

    color: white;
}

.nd2{
    display: flex;
    
    flex-direction: row;

    justify-content: space-around;
}

.hotel{
    color: yellow;

    font-size: 36px;

    line-height: 0cm;
}

.Evolution{
    color: white;

    font-size: 36px;

    line-height: 0;
}

.Micro{
    color: green;

    font-size: 36px;
    
    line-height: 0;
}

.jedi{
    color: yellow;
}

.dragon{
    color: blue;
}

.baht{
    color: orange;
}

.jyj114{
    color: blue;

    font-size: 72px;

    line-height: 20px;
}