* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eeffa0;
}

nav {
    position: fixed;
    width: 100%;
}

button {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header_outer {
    width: 100%;
    min-width: 783px;
    height: 60px;

    background-color: black;

    position: relative;
}

.header_inner {
    position: absolute;

    bottom: 0;

    display: flex;
}

.kk {
    position: absolute;

    right: 300px;

    bottom: 20px;
}

.hotbaby {
    position: absolute;

    right: 0;

    bottom: 20px;
}

.root {
    padding-top: 200px;

    width: 1100px;

    background-color: #eeffa0;

    margin: 0 auto;

    height: 100%;
}

.triangle {
    width: 200px;
    height: 45px;

    border-bottom: 50px solid #eeffa0;
    border-left: 100px solid #eeffa0;
    border-right: 30px solid transparent;
}

.triangleb {
    width: 200px;
    height: 45px;

    border-bottom: 50px solid #666666;
    border-left: 100px solid #666666;
    border-right: 30px solid transparent;

}

.img {
    width: 100%;
    height: 100%;
}